{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row pt-5">
        <div class="col text-center">
            <h1>Your Cart</h1>
            <hr class="w-100 mb-1 my-auto">
        </div>
    </div>
<!-- Cart Item Summary -->
    <div class="row">
        <div class="col-sm-12 col-md-8">

        </div>
<!-- Cart Sub-Total -->
        <div class="col-sm-12 col-md-4">
            
        </div>
    </div>
</div>
{% endblock %}