{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row pt-5">
        <div class="col text-center">
            <h1>Your Cart</h1> 
            <hr class="w-100 mb-1 my-auto">
        </div>
    </div>
</div>
{% if cart_items %}
<!-- Cart Item Summary -->
<div class="row">
    <div class="col">
        <div class="table-responsive rounded pt-5 mx-md-5">
            <table class="table table-sm table-borderless">
                {% for item in cart_items %}
                <tr class="pt-3">
                    <td class="py-5 ps-2 w-25">
                        <img class="img-fluid rounded" src="{{ item.product.image_url }}" height="150" width="150">
                    </td>
                    <td class="py-3">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    </td>
                    <td class="py-3">
                        {% if item.product.get_price == item.product.price %}
                        <span><p class="my-0">£{{ item.product.price }}</p></span>
                        {% else %}
                        <span class="text-danger"><b>£{{ item.product.get_price }}</b></span>
                        <span class="text-secondary"><del>£{{ item.product.price }}</del></span>
                        {% endif %}
                    </td>
                    <td class="py-3 w-25">
                        <p class="my-0">{{ item.quantity }}</p>
                    </td>
                    <td class="py-3">
                        total for that product
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <!-- Cart Sub-Total -->
    <div class="col-sm-12 col-md-5">

    </div>
</div>

{% else %}
<div class="row">
    <div class="col justify-content-center" style="display: flex;">
        <h3 class="pt-5 font-weight-bold">No Fun - Your Cart is Empty!</h3>
    </div>
    <div class="row pt-5">
        <div class="col justify-content-center" style="display: flex;">
            <i class="fa-regular fa-face-sad-tear fa-2xl"></i>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col justify-content-center" style="display: flex;">
            <a type="button" class="btn btn-info" href="{% url 'products' %}">Back to Store <i class="fa-solid fa-shop"></i></a>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}