{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid mt-2">
    <div class="row pt-5">
        <div class="col text-center">
            <h1>Checkout</h1> 
            <hr class="w-100 mb-3 my-auto">
        </div>
    </div>
    <!-- Collapse to show Cart Items on Small Screens Only -->
    <div class="row mx-auto mt-2 mb-4 w-100 d-md-none">
        <div class="card">
            <h6 class="float-start">Subtotal ({{ product_count }}):&nbsp;£{{ sub_total }}</h6>
            {% if delivery == 0 %}
            <h6 class="float-start card-subtitle mb-2">Delivery: <span class="text-end">&nbsp; FREE</span></h6>
            {% else %}
            <h6 class="float-start card-subtitle mb-2">Delivery: <span class="text-end">&nbsp;£{{ delivery }}</span></h6>
            {% endif %}
            <h5 class="float-start card-title"><b>Total:&nbsp;£{{ total }}</b></h5>
            <a class="float-end" data-bs-toggle="collapse" href="#collapseExample" id="order-details-toggle" role="button" aria-expanded="false" aria-controls="collapseExample">Show Details</a>
            <div class="collapse" id="collapseExample">
                <div class="card-body">
                    {% for item in cart_items %}
                    <div class="row py-3">
                        <div class="col-3">
                            <img class="img-fluid rounded" src="{{ item.product.image_url }}" height="80" width="80">
                        </div>
                        <div class="col-3 text-black">
                            <a class="text-black" href="{% url 'product_detail' item.product.id %}">{{ item.product.shorter_name }}</a>
                        </div>
                        <div class="col-3">
                            {% if item.product.get_price == item.product.price %}
                                £{{ item.product.get_price }} x {{ item.quantity }} <br>
                                    {% if item.product.get_deal_name != None %}
                                        <span class="text-danger" style="font-size:medium;"><b>{{ item.product.get_deal_name }}</b>
                                    {% endif %}
                            {% else %}
                            £{{ item.product.get_price }} x {{ item.quantity }} <br>
                            <span class="text-secondary"><del>£{{ item.product.price }}</del></span>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            {% if item.product.get_deal_name == None %}
                            <b>£{{ item.product_sub_total }}</b>
                            {% else %}
                            <b class="text-danger">£{{ item.product_sub_total }}</b><br>                     
                            <span class="text-secondary"><del>£{{ item.product_non_discount }}</del></span>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Delivery Address Form -->
    <div class="row mx-auto mt-2">
        <div class="col-12 col-md-6">
            <p class="text-bold">Please fill out the form below to complete your order</p>
            <form method="POST" action="{% url 'checkout' %}" id="payment-form">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-3">
                    <legend class="fieldset-label px-2 w-auto">Your Details</legend>
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                </fieldset>
                <fieldset class="rounded px-3 mb-3">
                    <legend class="fieldset-label px-2 w-auto">Delivery Address</legend>
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset class="rounded px-3 mb-3">
                    <legend class="fieldset-label px-2 w-auto">Payment</legend>
                    <div class="rounded" id="card-element">
                        <!--Stripe.js injects the Card Element-->
                    </div>
                    <div class="mb-3 text-danger" id="card-errors" role="alert">
                        <!-- Used to display form errors -->
                    </div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                        <!-- Total payment on card -->
                    <p class="small text-danger my-0">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>£{{ total|floatformat:2 }}</strong></span>
                    </p>
                        <!-- Pay Now Button -->
                    <div class="pt-3 d-flex justify-content-center">  
                        <button id="btn-submit" class="btn btn-warning w-75 text-center">
                            <div class="spinner hidden" id="spinner"></div>
                            <span id="button-text">Pay Now</span>
                        </button>
                    </div>
                    <p class="result-message hidden">
                        Payment succeeded, see the result in your
                        <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                    </p> 
                </fieldset>
            </form> 
        </div>
        <div class="d-none d-md-block col-md-6 rounded-2"><h5>Your Cart</h5>
            <div class="card-body rounded-2 border border-2 border-success" id="cart-preview">
                {% for item in cart_items %}
                <div class="row py-3">
                    <div class="col-3">
                        <img class="img-fluid rounded" src="{{ item.product.image_url }}" height="80" width="80">
                    </div>
                    <div class="col-3">
                        <a class="text-black" href="{% url 'product_detail' item.product.id %}">{{ item.product.shorter_name }}</a>
                    </div>
                    <div class="col-3">
                        {% if item.product.get_price == item.product.price %}
                            £{{ item.product.get_price }} x {{ item.quantity }} <br>
                            {% if item.product.get_deal_name != None %}
                                <span class="text-danger" style="font-size:medium;"><b>{{ item.product.get_deal_name }}</b>
                            {% endif %}
                        {% else %}
                        £{{ item.product.get_price }} x {{ item.quantity }} <br>
                        <span class="text-secondary"><del>£{{ item.product.price }}</del></span>
                        {% endif %}
                    </div>
                    <div class="col-3">
                        {% if item.product.get_deal_name == None %}
                        <b>£{{ item.product_sub_total }}</b>
                        {% else %}
                        <b class="text-danger">£{{ item.product_sub_total }}</b><br>                     
                        <span class="text-secondary"><del>£{{ item.product_non_discount }}</del></span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="card mt-3 rounded-2 border border-2 border-warning">
                <h6 class="float-start my-2">Subtotal ({{ product_count }}):&nbsp;£{{ sub_total }}</h6>
                {% if delivery == 0 %}
                <h6 class="float-start card-subtitle">Delivery: <span class="text-end">&nbsp; FREE</span></h6>
                {% else %}
                <h6 class="float-start card-subtitle">Delivery: <span class="text-end">&nbsp;£{{ delivery }}</span></h6>
                {% endif %}
                <h5 class="float-start card-title my-2"><b>Total:&nbsp;£{{ total }}</b></h5>
                <a href="{% url 'view_cart' %}" class="btn btn-secondary">
                    <span class="font-weight-bold">Edit Cart</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="processing-overlay">
    <h1 class="processing-spinner">
        <span class="icon">
            <i class="fas fa-spinner fa-spin fa-3x"></i>
        </span>
    </h1>
</div>

{% endblock %}

{% block postloadjs %}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'checkout/js/stripe.js' %}"></script>
<script>
document.getElementById("order-details-toggle").addEventListener("click", changeText);

   function changeText() {
    textToggle = document.getElementById("order-details-toggle");
    if (textToggle.classList.contains("collapsed")) {
        textToggle.innerHTML = "Show Details"
    } else {
        textToggle.innerHTML = "Hide Details"
    }
   }

</script>
{% endblock %}
