<div class="offcanvas text-white " id="cat">
    <ul class="navbar-nav justify-content-evenly">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-strong nav-link text-black mr-5" href="#" id="clothing-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Toy Categories</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=arts_crafts" class="dropdown-item">Arts & Crafts</a>
                <a href="{% url 'products' %}?category=building_toys" class="dropdown-item">Building Toys</a>
                <a href="{% url 'products' %}?category=dolls_accessories" class="dropdown-item">Dolls & Accessories</a>
                <a href="{% url 'products' %}?category=puzzles" class="dropdown-item">Puzzles</a>
                <a href="{% url 'products' %}?category=stuffed_toys" class="dropdown-item">Stuffed Toys</a>
                <a href="{% url 'products' %}?category=toy_figures" class="dropdown-item">Toy Figures & Playsets</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item  bg-danger">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'sale' %}">
                <strong>SALE</strong>
            </a>
        </li>
    </ul>
  </div>