<div class="offcanvas text-white " id="cat">
    <ul class="navbar-nav justify-content-evenly">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>All Products</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-strong nav-link text-black mr-5" href="#" id="clothing-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Arts & Crafts</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=arts_crafts" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Building Toys</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=building_toys" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Dolls & Accessories</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=dolls_accessories" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Puzzles</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=puzzles" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Stuffed Toys</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=stuffed_toys" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Toy Figures & Playsets</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=toy_figures" class="dropdown-item">Test</a>
            </div>
        </li>

        <li class="nav-item dropdown bg-danger">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="dog-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>SALE</strong>
            </a>
            <div class="dropdown-menu border-1" aria-labelledby="dog-link">
                <a href="{% url 'sale' %}" class="dropdown-item">Test</a>
            </div>
        </li>
    </ul>
  </div>