<script type="text/javascript">
    
    // Disable +/- buttons not meeting form validation range
    function handleEnableDisable(itemId) {
        var currentQtyValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentQtyValue < 2;
        var plusDisabled = currentQtyValue > 98;
        $(`#decrease-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increase-qty_${itemId}`).prop('disabled', plusDisabled);
    }

    // Check whether to enable/disable quantity input on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check whether enable/disable increase/decrease buttons every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increase quantity
        $('.increase-qty').click(function(e) {
       e.preventDefault();
       var qtyInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentQtyValue = parseInt($(qtyInput).val());
       $(qtyInput).val(currentQtyValue + 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });

    // Decrease quantity
        $('.decrease-qty').click(function(e) {
       e.preventDefault();
       var qtyInput = $(this).closest('.input-group').find('.qty_input')[0];
       var currentQtyValue = parseInt($(qtyInput).val());
       $(qtyInput).val(currentQtyValue - 1);
       var itemId = $(this).data('item_id');
       handleEnableDisable(itemId);
    });
</script>