{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- <div class="row pt-5">
        <div class="col text-center">
            <h3>All Toys</h3>
            <hr class="w-100 mb-1 my-auto">
        </div>
    </div> -->
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-sm-12 col-md-6 col-lg-4 mt-2 pb-5">
                    <div class="image-container mt-sm-3">
                        {% if product.image.url %}
                        <div class="image-container prod-image-container-sm px-1">
                            <a href="">
                                <img src="{{ product.image_url }}" class="card-img-top img-fluid "
                                    alt="{{ product.name }}">
                            </a>
                        </div>
                        {% else %}
                        <div class="image-container prod-image-container-sm">
                            <a>
                                <img src="{{ product.image_url }}" class="card-img-top img-fluid"
                                    alt="{{ product.name }}">
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 py-md-5 py-sm-2">
                    <div class="container-fluid pt-5">
                        <h5>{{ product.name }}</h5>
                        <hr>
                        <p>{{ product.details }}</p>
                        <p>{{ product.product_description }}</p>

                        {% if product.get_price == product.price %}
                            <p><strong style="font-size:x-large;">&nbsp;£{{ product.get_price }}</strong></p>
                        {% else %}
                            <span class="text-danger"><strong style="font-size:x-large;">£{{ product.get_price }}</strong></span>
                            <span class="text-secondary ">&nbsp;<del>£{{ product.price }}</del>
                                <span>

                                </span>
                            </span>
                                
                        {% endif %}
                        {% include 'includes/add_to_cart.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}