<div aria-live="polite" aria-atomic="true" class="d-flex justify-content-end align-items-center
 w-100 toasts-container my-toast">
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-white bg-danger bg-gradient">
            <strong class="me-auto">Danger <i class="fa-solid fa-exclamation"></i></strong>
            <small></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-light bg-gradient text-black">
            {{ message }} 
        </div>
    </div>
</div>